<h2>Template</h2>
<hr>
<ul class="list-group"> 
    <!-- espara colorear donde estas  routerLinkActive="" -->
    <li *ngFor = "let item of templateMenu"
        class="list-group-item"
        [routerLink]="[item.ruta]"
        routerLinkActive="active">
        {{item.texto}}
    </li>
    
</ul>
<h2 class="mt-4">Reactive</h2>
<hr>
<ul class="list-group"> 
    <!-- espara colorear donde estas  routerLinkActive="" -->
    <li *ngFor = "let item of reactiveMenu"
        class="list-group-item"
        [routerLink]="[item.ruta]"
        routerLinkActive="active">
        {{item.texto}}
    </li>
</ul>

<h2 class="mt-3">Validaciones</h2>
<hr>

<ul class="list-group"> 
    <!-- espara colorear donde estas  routerLinkActive="" -->
    <li *ngFor = "let item of authMenu"
        class="list-group-item"
        [routerLink]="[item.ruta]"
        routerLinkActive="active">
        {{item.texto}}
    </li>
</ul>
