<h2>Reactivos: Basicos</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- llamar el formulario reactivo 
            [formGroup]="miFormulario"
            para guardar el formulario
            (ngSubmit)="guardar()"-->
        <form   (ngSubmit)="guardar()"
                autocomplete="off" 
                [formGroup]="miFormulario">
           <!-- campo de Producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9"> 
                   <!-- como llamar y que haga mach con el objeto con el metodo
                        formControlName="nombre" -->
                    <input type="text"
                            class="form-control"
                            formControlName="nombre"
                            placeholder="Nombre del producto">

                            <span class="form-text text-danger"
                                *ngIf="campoNoEsValido('nombre')"
                               >Debe de ser de 3 letras
                            </span>
                </div>
            </div>

             <!-- campo de precio-->
             <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9"> 
                    <input type="number"
                            class="form-control"
                            formControlName="precio"
                            placeholder="Precio del producto">
                    <span class="form-text text-danger"
                            *ngIf="campoNoEsValido('precio')">
                            Debe introducir 0 o mayor
                    </span>
                </div>
            </div>

             <!-- campo de existencias-->
             <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9"> 
                    <input type="number"
                            class="form-control"
                            formControlName="existencias"
                            placeholder="Existencias del producto">
                    <span class="form-text text-danger"
                            *ngIf="campoNoEsValido('existencias')">
                            Debe introducir 0 o mayor
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!-- hacer que no se pueda pulsar el boton si no esta completo oel formulario miFormulario
                    [disabled]="miFormulario" -->
                    <button type="submit"
                            class="btn btn-primary float-end">
                            Guardar
                    </button>
                </div>
            </div>
            
        </form>
    </div>
</div>


<div class="row">
    <div class="col">
        <!-- validacion del formulario regresa un booleano si cumple lo requerimentos pasaa true -->
        <span>Valid</span>
        <pre>{{miFormulario.valid}}</pre>.
        
        <!-- que no se ancanbiado ningun de los valores del formulario -->
        <span>Pristine</span>
        <pre>{{miFormulario.pristine}}</pre>

        <!-- que el usuario a tocado el formulario -->
        <span>Touched</span>
        <pre>{{miFormulario.touched}}</pre>

        <!-- Es el valor que se pone dentro delas casillas del formulario -->
        <span>Value</span>
        <pre>{{miFormulario.value | json}}</pre>

        <span>Precio</span>
        <pre>{{miFormulario.controls.precio.errors | json}}</pre>

      
        
    </div>
</div>
