<h2>Reactivo: <small>Dinamicos</small></h2>
<hr>

<form autocomplete="off"
    [formGroup]="miFormulario"
    (ngSubmit)="guardar()">
        <!-- nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">

            <input  class="form-control" 
                    type="text"
                    placeholder="Nombre de la persona"
                    formControlName="nombre">
                    <span class="form-text text-danger"
                    *ngIf="campoNoEsValido('nombre')">
                                Este campo es obligatorio
                    </span>
        </div> 
    </div>
    <!-- agregar Favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">

            <div class="input-group">
                <!-- aqui se egraga el nuevo formcontrol para cargarlo 
                    [formcontrol]="nuevoFavorito" -->
                <input  class="form-control" 
                        [formControl]="nuevoFavorito"
                        placeholder="Agregar Favorito"
                        (keyup.enter)="agregarFavorito()">

                <button class="btn btn-outline-primary"
                        type="button"
                        (click)="agregarFavorito()">
                    Agregar
                </button>
            </div>         
        </div> 
    </div>

       <!-- Lista de juegos favoritos -->
       <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <!-- aqui se pone por que es el div que manejara todos los array 
            formArrayName="favoritos"-->
        <div class="col-sm-9" formArrayName="favoritos">

            <!-- este div es el que se tiene que duplicar para grear los diferentes items
                llamos el get para trasformar el arrayforms en un arrray que se pueda leer
                *ngFor="let favorito of favoritosArr.controls; let i = index"> -->
            <div class="input-group mb-2"
                *ngFor="let favorito of favoritosArr.controls; let i = index"> 
                <!-- aqui se pone los resultados del array pero como es un objeto hay que trasformarlos 
                    entre llaves cuadradas  para que tiome el valor de i
                    [formControlName]="i"-->
                <input class="form-control"
                        [formControlName]="i">

                <button class="btn btn-outline-danger"
                        type="button"
                        (click)="borrar(i)">
                    Eliminar
                </button>         
            </div>
        </div> 
    </div>
    


    <div class="row">
        <div class="col-sm-12">
         <button type="button"
                class="btn btn-primary float-end"
                (click)="guardar()"
                >
             Guardar
         </button>
        </div>
    </div>
</form>

<span>Valid</span>
<pre>{{miFormulario.valid}}</pre>
<br>
<span>Value</span>
<pre>{{miFormulario.value | json}}</pre>
<br>
<span>Agregar Juego</span>
<pre>{{nuevoFavorito.valid}}</pre>
<br>
<span>Agregar Juego</span>
<pre>{{nuevoFavorito.value}}</pre>
